body {
    background-color: #27232b;
    background-image: linear-gradient(0deg, #474257, #27232b);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3rem;
    text-align: center;
}

section {
    padding: 3rem;
}

.content {
    width: 70%;
    margin: auto;
}

.skull {
    width: 140px;
    margin-top: 1.125rem;
    margin-bottom: .5rem;
}

.learn-to-code {
    background-color: #201d23;
    border-radius: 6px;
    color: #dcb199;
    font-size: 1.1rem;
    margin-right: 2px;
    padding: 1px 8px 3px;
}

.course-desc {
    display: flex;
    margin: 3rem 0 2.5rem;
    margin: 2rem 0;
}

.course-desc .desc-item {
    display: flex;
    align-items: center;
    background-color: #282733;
    background-color: rgb(40 36 44 / 80%);
    border-radius: 32px;
    margin: 0 1.25rem;
    padding: 2rem 1.75rem;
    text-align: left;
    transition: all .3s ease;
    width: 50%;
}

.course-desc .desc-item:hover {
    background-color: #28242c;
    background-color: #27232a;
}

.course-desc .desc-item:hover p {
    /* color: #a7a4ba; */
}

.course-desc .desc-item:hover i {
    color: #9987c3;
}

.course-desc .desc-item p {
    margin: 0;
}

.course-desc i {
    color: #7b6aa2;
    font-size: 38px;
    margin-right: 1.5rem;
    transition: all .3s ease;
    /* margin-bottom: 1rem; */
}

h1 {
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    margin-top: 0;
}

h2 {
    color: #ab9ac8;
    font-weight: 400;
    letter-spacing: .75px;
    margin-top: 0;
}

h3 {
    color: #b8b4cc;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

p {
    color: #8b879d;
    color: #9894ab;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: #ffc68a;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 12px 80px rgb(255 182 138 / 30%);
    color: #3b3340;
    font-size: 24px;
    font-weight: 800;
    margin-top: 1rem;
    padding: 1.2rem 5.5rem;
    transition: all .2s ease;
}

button:hover {
    background-color: #e696ff;
    box-shadow: 0px 36px 100px #884bb6;
    color: #27232b;
}

button:hover .btn-icon {
    margin-left: 12px;
}

.btn-icon {
    margin-left: 4px;
    transition: all .3s ease;
}

.icons {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.icons i {
    background-color: rgb(32, 30, 34); 
    border-radius: 12px;
    color: #797389;
    cursor: pointer;
    font-size: 16px;
    margin: 0 .25rem;
    padding: 10px;
    transition: all .4s ease;
}

.icons i:hover {
    background-color: #575068;
    color: #d5cfe2;
}