*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, #474257, #27232b);
    color: #9894ab;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
}

.main {
    background-color: #27232b;
    background-image: linear-gradient(0deg, #474257, #27232b);
    padding: 3rem 0 6rem;
}

section {
    margin: auto;
    padding: 2rem 0;
    width: 88%;
}

.content {
    width: 70%;
    margin: auto;
}

.skull {
    width: 140px;
    margin-top: 1.125rem;
    margin-bottom: .5rem;
}

.learn-to-code {
    background-color: #201d23;
    border-radius: 6px;
    color: #dcb199;
    font-size: 1.1rem;
    margin-right: 2px;
    padding: 1px 8px 3px;
}

h1 {
    color: #f5f5f5;
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    margin-top: 0;
}

h2 {
    color: #ab9ac8;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .75px;
    margin-bottom: 2.5rem;
    margin-top: 0;
}

h3 {
    color: #c8c4da;
    font-size: 1.17em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 1em;
}

p {
    color: #9894ab;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.6;
    margin-bottom: 20px;
}

hr {
    height: 0;
    border: none;
    border-top: 6px dotted #221e24;
    width: 18%;
    margin: 4rem auto 3.25rem;
    opacity: 1;
}

/* 🦄 --------------- General List --------------- */
.list {
    display: flex;
    margin: 2rem 0;
}

.list .list-item {
    display: flex;
    align-items: center;
    background-color: rgb(40 36 44 / 80%);
    background-color: rgba(37, 34, 40, 0.8);
    border-radius: 32px;
    margin: 0 1.25rem;
    padding: 2rem;
    text-align: left;
    transition: all .3s ease;
    width: 50%;
}

.list .list-item:hover {
    /* background-color: #221e24; */
}

.list .list-item:hover .list-item-icon  {
    color: #a391cc;
}

.list .list-item p {
    margin: 0;
}

.list .list-item-icon {
    color: #7b6aa2;
    font-size: 38px;
    margin-right: 1.5rem;
    transition: all .3s ease;
}

/* 🌈🐱 **-------------@ Course Catalog @-------------** */
.course-catalog {
    padding: 5.5rem 0 6rem;
}

.course-catalog .content {
    width: 60%;
}

.list.course {
    display: block;
    margin-top: 3rem; 
    margin-bottom: 2.5rem;
}

.list.course  .list-item {
    width: 100%;
    margin: 0 0 2rem;
}

.list.course  .list-item.top-pick {
    display: block;
    margin: 0 0 3.5rem;
    background-color: #1c1a1f;
}

.list.course  .list-item.top-pick img {
    width: 100%;
    border-radius: 18px;
}

.list.course  .list-item.top-pick h3 {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

.list.course .course-listing {
    align-items: flex-start;
    background-color: rgba(37, 34, 40, 0.7);
}

.course-listing img {
    width: 50%;
    border-radius: 16px;
    margin-right: 2rem;
}

.list.course .course-listing  h3 {
    margin-top: 0;
    margin-bottom: .75rem;
}


/* 🌈🦊 **-------------@ FAQ @-------------** */
#faq {
    padding-bottom: 0;
}

#faq .content {
    width: 54%;
}

.list.faq {
    display: block;
    margin-bottom: 0;
}

.list.faq li {
    color: #9894ab;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.list.faq .list-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(84 80 101 / 65%);
    margin: 0 0 1.875rem;
    padding: 2rem 2.5rem 1rem;
    transition: all .4s ease;
    width: 100%;
}

.list.faq .list-item:last-child {
    margin-bottom: 0;
}

.list.faq .collapse-handler {
    text-decoration: none;
    margin-bottom: 1.875rem;
    display: block;
    color: #9894ab;
}

.list.faq .collapse-handler:last-child {
    margin-bottom: 0;
}

.list.faq .list-item-desc a {
    color: #dcb199;
    text-decoration: none;
}

.list.faq .list-item-desc a:hover {
    color: #ffc68a;
}

.list.faq .list-item-desc p {
    margin-bottom: 1rem;
}

.list.faq .list-item-desc h3 {
    padding-bottom: 1rem;
}

.list-item-desc h3 {
    margin-top: 0;
    font-size: 1.075em;
}

.list-item-desc img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 14px;
}

.list-item-handle {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.list.faq i {
    color: #9c99aa;
    font-size: 16px;
    margin-right: 0;
}

.list.faq .list-item:hover i, .list.faq i:hover {
    color: #c8c4da;
}


/* 🌈🐨 **-------------@ Buttons @-------------** */
.cta-group a {
    text-decoration: none;
}

.main-btn {
    background-color: #ffc68a;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 12px 80px rgb(255 182 138 / 30%);
    color: #3b3340;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.2;
    margin: 1.25rem .875rem 0;
    padding: 1.2rem 4rem;
    margin: 1.5rem 1rem 0;
    padding: 1.2rem 3.75rem;
    transition: all .3s ease;
}

.main-btn:hover {
    background-color: #e696ff;
    box-shadow: 0px 36px 100px #884bb6;
    color: #27232b;
}

.main-btn.btn-outline {
    background: transparent;
    border: 2px solid #ffc68a;
    color: #ffc68a;
}

.main-btn.btn-outline:hover {
    background: transparent;
    border: 2px solid #e696ff;
    box-shadow: 0px 36px 100px #884bb6;
    color: #e696ff;
}

.main-btn.btn-outline:hover .btn-icon {
    color: #e696ff;
}

.btn-icon {
    margin-left: 12px;
}

/* ----- course buttons ----- */
.course-button {
    background-color: #ffc68a;
    color: #3b3340;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 1.5rem 0 0;
    padding: 1rem 2rem;
    transition: all .3s ease;
}

.course-button:hover {
    background-color: #e696ff;
    box-shadow: 0px 4px 40px #884bb6;
    color: #27232b;
}

.course-button:hover .btn-icon {
    color: #27232b;
}

.course-button i {
    color: #3b3341;
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
}


/* 🌈🐬 **-------------@ Social icons @-------------** */
.social-icons {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.social-icons i {
    background-color: rgb(32, 30, 34); 
    border-radius: 12px;
    color: #797389;
    cursor: pointer;
    font-size: 16px;
    margin: 0 .25rem;
    padding: 10px;
    transition: all .4s ease;
}

.social-icons i:hover {
    background-color: #575068;
    color: #d5cfe2;
}


/* 🌈🐸 **-------------@ Contact Us @-------------** */
.contact-us-wrap {
    background-color: #27232b;
    padding: 3rem 0; 
}

#contact-us .content {
    width: 67%;
    margin: auto;
    border-radius: 36px;
}

#contact-us .contact {
    display: flex;
    opacity: .8;
}

#contact-us .contact .contact-detail {
    margin: 0 1rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#contact-us .contact .contact-detail:first-child {
    margin-left: 0;
}

#contact-us .contact .contact-detail:last-child {
    margin-right: 0;
}

#contact-us .contact .contact-detail i {
    font-size: 18px;
    color: #9894ab;
    margin-right: 1rem;
    transition: all .2s ease;
}

.developer p {
    color: #c8c4da;
    font-weight: 500;
}

.contact-detail-data {
    display: flex;
    align-items: center;
}

#contact-us p {
    font-size: 16px;
    margin: 0;
}

.contact-detail-data:hover a, #contact-us .contact .contact-detail .contact-detail-data:hover i {
    color: #ffc68a;
}

.contact-detail-data a {
    color: #9894ab;
    text-decoration: none;
    transition: all .2s ease;
}

#contact-us .contact  .contact-detail.developer {
    flex-direction: column;
    align-items: flex-start;
}

#contact-us p.job-title {
    color: #9894ab;
    opacity: .6;
    font-size: 14px;
    margin-top: 3px;
}


/* 🌈🐸 **-------------@ Course Catalog @-------------** */
